<section id="add-axes-2">
    <h1>Adding axes</h1>
    <p>now with an X axis</p>
    <p>(i mean okay it's a pretty <em>useless</em> x axis, but it's something we can start to work with)</p>
    <p>also note: there's additional code mods as i figure out how scales and padding and such play into each other</p>

    <button id="trigger">Load data</button>

    <div class="block">
        <h2>The SVG Output</h2>
        <p>Hover on bars for property title</p>
        <div id="svgOutput"></div>
    </div>

    <div class="block">
        <h2>The text output</h2>
        <div id="outputBox"></div>
    </div>
</section>

<div class="templates">
    <template id="result_box">
        <div class="results_box">
            <div class="result">
                <span class="property"></span>: <span class="count"></span>
            </div>
        </div>
    </template>
</div>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{{ path '/js/components/add-axes-2.js' }}"></script>
