<section id="running-chart">
    <h1>Running Mileage: 2021</h1>

    <div id="svgOutput"></div>

    <div class="intro">
        <script>
            const dataset = [
                {"id": 1, "number": 3},
                {"id": 2, "number": 2.5},
                {"id": 3, "number": 4},
                {"id": 4, "number": 3},
                {"id": 5, "number": 4}
            ]
        </script>
    </div>
</section>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{{ path '/js/components/running-chart.js' }}"></script>
