<section id="timeline">
    <h1>Timeline concept</h1>

    <div id="scrollbox">
        <div id="svgOutput"></div>
    </div>

    <div class="data">
        <script>
            const dataset = [{
                "author": "Jane",
                "month": "January",
                "work": "red"
            }, {
                "author": "Jane",
                "month": "February",
                "work": "blue"
            }, {
                "author": "Jane",
                "month": "December",
                "work": "green"
            }, {
                "author": "Bill",
                "month": "March",
                "work": "pink"
            }, {
                "author": "Bill",
                "month": "April",
                "work": "purple"
            }, {
                "author": "Thomas",
                "month": "January",
                "work": "orange"
            }, {
                "author": "Thomas",
                "month": "April",
                "work": "yellow"
            }, {
                "author": "Thomas",
                "month": "May",
                "work": "plaid"
            }, {
                "author": "Thomas",
                "month": "December",
                "work": "else"
            }];
        </script>
    </div>
</section>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="{{ path '/js/components/timeline.js' }}"></script>
