//
// 2020 Colors
//

$lightred: #e81727;
$darkred: #a6192e;

$yellow: #FFC72C;
$darkerblue: #005EB8;
$lighterblue: #6AD1E3;

$barelynotwhite: #FAFAFA;
$almostwhite: #efefef;
$lightergray: #c6c4c4;
$lightgray: #A7A5A5;
$mediumgray: #787272;
$darkgray: #363232;
$almostblack: #120c0c;

$white: #ffffff;
$black: #000000;

//
// Typography
//

$system-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

:root {
  /* colors */

  --lightred: red;
  --darkred: darkred;

  --yellow: yellow;
  --darkerblue: darkblue;
  --lighterblue: lightblue;

  --barelynotwhite: ghostwhite;
  --almostwhite: whitesmoke;
  --lightgray: lightgray;
  --mediumgray: gray;
  --darkgray: darkgray;
  --almostblack: darkslategray;
  --barelynotblack: #101010;

  --white: white;
  --black: black;


  /* Font stacks */
  --system-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
