//
// 2020 Colors
//

$lightred: #e81727;
$darkred: #a6192e;

$yellow: #FFC72C;
$darkerblue: #005EB8;
$lighterblue: #6AD1E3;

$barelynotwhite: #FAFAFA;
$almostwhite: #EFEFEF;
$lightgray: #A7A5A5;
$mediumgray: #787272;
$darkgray: #363232;
$almostblack: #120c0c;

$white: #ffffff;
$black: #000000;

