#radial-lines-2 {
  padding: 1rem;
  margin: 1rem;
  border: 2px dotted fuchsia;
  background-color: gainsboro;
  font-family: Verdana, sans-serif;

  svg {
    background-color: aliceblue;
  }

  .controls {
    margin-bottom: 2rem;
  }

  // just trying to hide these from view
  .svgPatterns {
    height: 0;
    width: 0;
    overflow: hidden;
  }

  .datapt {
    fill: none;
    transition: stroke-opacity 0.25s ease-out, stroke-width 0.5s ease-in-out;

    &.datapt--positive {
      stroke: green;
      stroke-width: 4;
      stroke-opacity: 0.2;
      stroke-linecap: round;

      &:hover {
        stroke-opacity: 1;
      }

      &.selected {
        stroke-width: 8;
        stroke-opacity: 0.5;
      }
    }

    &.datapt--negative {
      stroke: crimson;
      stroke-width: 4;
      stroke-opacity: 0.2;
      stroke-linecap: round;

      &:hover {
        stroke-opacity: 1;
      }

      &.selected {
        stroke-width: 8;
        stroke-opacity: 0.5;
      }
    }
  }
}
