<section id="timeline-2">
    <h1>Starter File</h1>

    <div id="scrollbox">
        <div id="svgOutput"></div>
    </div>

    <div class="data">
        <script>
            const dataset = [{
                "id": 1,
                "author": "Rory",
                "details": [{"month": "2021-06-02", "work": "Snake Eyes"}, {
                    "month": "2021-03-18",
                    "work": "How to Eat Your Watermelon in White Company (and Enjoy It)"
                }, {"month": "2021-01-25", "work": "Black Dragons"}, {
                    "month": "2021-01-03",
                    "work": "If You Only Knew"
                }, {"month": "2021-03-04", "work": "Switchback"}, {
                    "month": "2020-09-17",
                    "work": "I'm Still Here"
                }, {"month": "2021-03-07", "work": "Shut Up and Play the Hits"}, {
                    "month": "2021-04-11",
                    "work": "Accidental Husband, The"
                }]
            },
                {
                    "id": 2,
                    "author": "Conny",
                    "details": [{"month": "2021-06-09", "work": "I Remember Mama"}, {
                        "month": "2021-08-21",
                        "work": "Aladdin and the King of Thieves"
                    }, {"month": "2021-01-19", "work": "Stavisky..."}]
                },
                {
                    "id": 3,
                    "author": "Sibbie",
                    "details": [{"month": "2020-11-01", "work": "Miami Blues"}, {
                        "month": "2021-04-26",
                        "work": "Nutty Professor II: The Klumps"
                    }, {"month": "2021-02-17", "work": "Bright Young Things"}, {
                        "month": "2021-08-22",
                        "work": "Crew, The"
                    }, {"month": "2021-03-21", "work": "Oh, Heavenly Dog!"}]
                },
                {
                    "id": 4,
                    "author": "Brittni",
                    "details": [{"month": "2021-01-23", "work": "Nobody"}, {
                        "month": "2020-11-13",
                        "work": "House of Mirth, The"
                    }, {"month": "2021-07-28", "work": "I Love You Phillip Morris"}]
                },
                {
                    "id": 5,
                    "author": "Avrit",
                    "details": [{"month": "2020-10-22", "work": "Commune, La (Paris, 1871)"}, {
                        "month": "2020-11-16",
                        "work": "Panic"
                    }, {"month": "2020-10-04", "work": "Igor"}, {
                        "month": "2021-03-01",
                        "work": "Front, The"
                    }, {"month": "2021-04-11", "work": "Jack the Giant Killer"}, {
                        "month": "2020-12-16",
                        "work": "How Wang-Fo Was Saved (Comment Wang-Fo fut sauvé)"
                    }]
                },
                {
                    "id": 6,
                    "author": "Kathy",
                    "details": [{"month": "2021-01-23", "work": "Ghost Adventures"}, {
                        "month": "2020-12-28",
                        "work": "Last Call (Hoogste tijd)"
                    }, {"month": "2020-09-17", "work": "Lizard, The (Marmoulak)"}, {
                        "month": "2020-10-26",
                        "work": "Anthony Zimmer"
                    }, {"month": "2020-10-09", "work": "Swimming"}]
                },
                {
                    "id": 7,
                    "author": "Adiana",
                    "details": [{"month": "2020-10-28", "work": "Won't Back Down"}, {
                        "month": "2020-10-08",
                        "work": "Twelve Monkeys (a.k.a. 12 Monkeys)"
                    }, {
                        "month": "2020-11-23",
                        "work": "Scarlet Letter, The (Der scharlachrote Buchstabe)"
                    }, {"month": "2021-09-02", "work": "Destruction Force"}, {
                        "month": "2021-05-02",
                        "work": "Unlikely Weapon, An"
                    }]
                },
                {
                    "id": 8,
                    "author": "Chickie",
                    "details": [{
                        "month": "2020-11-02",
                        "work": "Tyler Perry's Why Did I Get Married Too?"
                    }, {"month": "2021-09-10", "work": "Problem Child"}, {
                        "month": "2021-08-12",
                        "work": "Eleventh Year, The (Odinnadtsatyy) "
                    }, {"month": "2021-01-30", "work": "Man in the Glass Booth, The"}, {
                        "month": "2021-07-11",
                        "work": "Ten Little Indians"
                    }, {"month": "2021-05-31", "work": "Quitting (Zuotian)"}, {
                        "month": "2021-07-26",
                        "work": "Little Thief, The (Le petit voleur)"
                    }, {"month": "2021-07-06", "work": "Miss Minoes"}]
                },
                {
                    "id": 9,
                    "author": "Beret",
                    "details": [{"month": "2021-03-01", "work": "Twelve O'Clock High"}, {
                        "month": "2020-11-25",
                        "work": "Taxi 4"
                    }, {
                        "month": "2021-04-14",
                        "work": "Loop the Loop (Up and Down) (Horem pádem)"
                    }, {"month": "2021-04-04", "work": "Boy Upside Down"}, {
                        "month": "2020-10-30",
                        "work": "In Your Hands (Forbrydelser)"
                    }]
                },
                {
                    "id": 10,
                    "author": "Finley",
                    "details": [{"month": "2021-01-22", "work": "Man Push Cart"}, {
                        "month": "2021-07-27",
                        "work": "Red Flag"
                    }, {"month": "2021-03-02", "work": "Neighbours"}, {
                        "month": "2021-05-09",
                        "work": "Shakespeare-Wallah"
                    }]
                }];
        </script>
    </div>
</section>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="{{ path '/js/components/timeline-2.js' }}"></script>
