<section id="basic-dashboard">
    <h1>Basic Dashboard</h1>

    <div id="scrollbox">
        <div id="svgOutput"></div>
    </div>

    <div class="intro">
        <p>(data is hidden inside a script tag right here)</p>
        <script>
            const dataset = [
                {"dateStart": "8/5", "dateEnd": "8/12", "number": 13, "total": 635},
                {"dateStart": "8/13", "dateEnd": "8/19", "number": 13, "total": 1145},
                {"dateStart": "8/20", "dateEnd": "8/26", "number": 6, "total": 925},
                {"dateStart": "8/27", "dateEnd": "9/2", "number": 52, "total": 815},
                {"dateStart": "9/3", "dateEnd": "9/9", "number": 11, "total": 855},
                {"dateStart": "9/10", "dateEnd": "9/16", "number": 11, "total": 865},
                {"dateStart": "9/17", "dateEnd": "9/23", "number": 14, "total": 895},
                {"dateStart": "9/24", "dateEnd": "9/30", "number": 120, "total": 835},
                {"dateStart": "10/1", "dateEnd": "10/7", "number": 17, "total": 845},
                {"dateStart": "10/8", "dateEnd": "10/14", "number": 8, "total": 825},
                {"dateStart": "10/15", "dateEnd": "10/21", "number": 17, "total": 845},
                {"dateStart": "10/22", "dateEnd": "10/28", "number": 17, "total": 845},
                {"dateStart": "10/29", "dateEnd": "11/4", "number": 57, "total": 845},
                {"dateStart": "11/5", "dateEnd": "11/11", "number": 17, "total": 835},
                {"dateStart": "11/12", "dateEnd": "11/18", "number": 8, "total": 825},
                {"dateStart": "11/19", "dateEnd": "11/25", "number": 11, "total": 855}];
            // const dataset = [
            //     {"dateStart": "8/5", "dateEnd": "8/12", "number": 13, "total": 635},
            //     {"dateStart": "8/13", "dateEnd": "8/19", "number": 13, "total": 1145},
            //     {"dateStart": "8/20", "dateEnd": "8/26", "number": 0, "total": 0},
            //     {"dateStart": "8/27", "dateEnd": "9/2", "number": 0, "total": 0},
            //     {"dateStart": "9/3", "dateEnd": "9/9", "number": 0, "total": 0},
            //     {"dateStart": "9/10", "dateEnd": "9/16", "number": 0, "total": 0},
            //     {"dateStart": "9/17", "dateEnd": "9/23", "number": 0, "total": 0},
            //     {"dateStart": "9/24", "dateEnd": "9/30", "number": 0, "total": 0},
            //     {"dateStart": "10/1", "dateEnd": "10/7", "number": 0, "total": 0},
            //     {"dateStart": "10/8", "dateEnd": "10/14", "number": 0, "total": 0}]
        </script>
    </div>
</section>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{{ path '/js/components/basic-dashboard.js' }}"></script>
